@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');
/* Top page / logo et navbar  */
/* bleu = color : #0047A3 */

body { 
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
.nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
}

.logo {
width: 160px;
height: 130px;
}

.buttons {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
}
.NavButton {
    padding: 15px;
    border: none;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color:#0047A3 ;
    display: inline;
}

.NavButton a{
    text-decoration: none;
    color: #0047A3;
    transition: 00.4s;
}

.NavButton a:hover {
    font-size: 14px;
    background-color: #0047A3;
    color: white;
    padding: 20px;
    transition: 0.4s;
}
#active {
    font-size: 14px;
    background-color: #0047A3;
    color: white;
    padding: 20px;
    transition: 0.4s;
}
/* BANNIERE BANNIERE BANNIERE BANNIERE */
.banniere {
    background-image: url("../Images/longchamps_gris.jpg");
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #C0C0C0;
}
.banniere h1 {
    color: white;
    font-size: 50px;
    text-shadow: 0px 0px 10px black;
    margin-right: 60px;
}



/* MIDPAG MIDPAGE MIDPAGE */
.vision {
    display: inline-flex;
    margin-top: 40px;
    margin-left: 120px;
}
.image1 img {
    height: 250px;
    width: 300px;
    border-radius: 16px;
    margin-left: 90px;
}
.texte1 {
    text-align: justify;
    width: 857px;
    height: 110px;
    font-size: 16px;
    margin-left: 30px;
    margin-top: 50px;
}
.paragraph2 {
    margin-top: 40px;
}


.ia {
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 110px;
    margin-left: 120px;
}
#titre1 {
    margin-left: 450px;
    margin-top: 130px;
}
.image2 img{
    height: 330px;
    width: 400px;
    border-radius: 16px;
    margin-left: 60px;
    margin-top: 55px;
}
.texte2 {
    text-align: justify;
    width: 730px;
    height: 110px;
    font-size: 16px;
    margin-left: 90px;
    margin-top: 20px;
}

/* FOOTER FOOTER FOOTER FOOTER */

.footer{
    display: flex;
    justify-content: space-evenly;
    height: 258px;
    width: 100%;
    background-color: #C4C4C4;
    padding: 0px;
    margin: 0px;
}
.footernavlinks{
    list-style-type: none;
    margin-top: 25px;
    text-align: center;
    padding-left: 15px;
    line-height: 46px;
    border-right: 1px solid black;
    padding-right: 65px;
}
.footernavlinks a {
    text-decoration: none;
    color: black;
}
.social{

    display: inline-block;
    margin-top: 25px; 
    margin-bottom: 50px; 
    border-right: 1px solid black; 
    padding-right: 65px;
}
.socialicons li{
    list-style-type: none;
    display: inline;
    text-align: center;
}
.copyright{
    margin-left: -15px;
    margin-top: 63px;
}
.footerinfos{
    list-style-type: none;
    padding: 0px;
}
i {
    padding-right: 20px; 
    font-size: 25px;
}
.contactez {
    padding: 0px;
    line-height: 35px;
    margin-bottom: 50px; 
    margin-top: 25px;
    padding-right: 65px;
    border-right: 1px solid black; 
}
#contacteza {
    cursor: pointer;
}
#infos {
    padding-left: 15px;
}
.map {
    color: black;
    padding-right: 2px;
}

.icons{
    list-style-type: none;
}
#nonea {
    text-decoration: none;
    color: black;
}

.formulaire {
    width: 600px;
    border: 1px solid #0047a3;
    border-radius: 16px;
    background-color: #F7F4F1;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
#fname {
    width: 120px;
    margin-bottom: 20px;
}
#lname {
    width: 118px;
    margin-bottom: 20px;
}
#visitormail {
    width: 285px;
}
#subject {
    width: 550px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
#button {
    position: relative;
    left: 495px;
    cursor: pointer;
}
input, textarea {
    border-radius: 16px;
    border-color:aqua;
    padding: 3px;
}