@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,300&display=swap');

body { 
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    height: 2000px;
}
.nav {
    /* display: flex; */
    justify-content: space-between;
    max-width: 1240px;
    position: fixed;
    top: 0px;
}

.logo {
    width: 160px;
    height: 130px;
}

.buttons {
    float: right;
    margin-top: 3%;
    margin-right: 3%;
}
.NavButton {
    padding: 15px;
    border: none;
    background-color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color:#0047A3 ;
    display: inline;
}

.NavButton a{
    text-decoration: none;
    color: #0047A3;
    transition: 00.4s;
}

.NavButton a:hover {
    font-size: 14px;
    background-color: #0047A3;
    color: white;
    padding: 20px;
    transition: 0.4s;
}
#active {
    font-size: 14px;
    background-color: #0047A3;
    color: white;
    padding: 20px;
    transition: 0.4s;
}





/* BANNIERE BANNIERE BANNIERE BANNIERE BANNIERE BANNIERE BANNIERE BANNIERE BANNIERE BANNIERE */
.banniere {
    display: flex;
    height: 100vh;
    width: 1650px;
    align-items: center;
    justify-content: center;
    background-image: url("../Images/photomarseillebm.jpg");
    border-top: 3px solid #C0C0C0;
} 
.textbanniere {
    display: block;
    align-items: center;
    justify-content: center;
}

.textbanniere > H1 {
    color: white;
    text-align: center;
    font-size: 50px;
    text-shadow: 0px 0px 20px black;
}
.textbanniere > H2 {
    color: white;
    font-size: 35px;
    text-shadow: 0px 0px 20px black;
}
.textbanniere > button {
    padding: 15px;
    margin-left: 210px;
    border-radius: 16px;
    background: none;
    color: white;
    border: 4px white solid;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 0px 0px 20px black; /* Met une ombre noire sous le texte afin qu'il soit plus lisible*/
}
.textbanniere > button:hover {
    border-color: #0047a3;
    font-weight: bold;
}

/* MIDPAGE MIDPAGE */
img {
    width: 100px;
    height: 100px;    
}

h2{
    color: #0047A3;
}

.chiffres { /* div qui contient les 3 colonnes */
    display: flex;
    flex-direction: row;
    flex-basis: 3px;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
}

.colonne{
    position: relative;
    text-align: center;
    width: 300px;
    height: 340px;
    border: 0.5px solid rgba(0,0,0, 0.2);
    border-radius: 16px;
    padding: 10px;
    transition: 0.4s;
    -webkit-box-shadow: -14px 13px 16px 5px rgba(0,0,0,0.35); 
    box-shadow: -14px 13px 16px 5px rgba(0,0,0,0.35);
}

.links{
    position: absolute;
    bottom: 5px;
    right: 10px;
    text-decoration: none;
    color: #1E99CD;
    transition: 0.4s;
}

.strong{
    font-size: 18px;
}

 .colonne:hover{
    padding: 20px;
    transition: 0.4s;
}

.links:hover{
    margin: 10px;
    color: #0047A3;
    font-weight: bold;
    transition: 0.4s;
}
/* NEWSLETTER NEWSLETTER NEWSLETTER */
.Newsletter{
    writing-mode: horizontal-tb;
    background-image: url("photo_ia.jpg");
    color: white; 
}

/* ci-dessous, position de l'image dans la div */
.image {
    background-image:url("../Images/photo_ia_retouche.jpg");
    background-size: cover;
    width: 100%;
    height: 410px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Ci-dessous bloc newsletter */
.contactNewsletter{ /* bloc Newsletter */
    border-radius: 13px;
    padding: 20px;
    background-color: rgba(0,0,0,0.35);
}

input{ /* A l'intérieur du formulaire */
    background: none;
    width: 300px;
    border: 1px solid white;
    color: white;
}

::placeholder{ /* Texte par défaut */
    color: white;
    padding-left: 70px;
}

.email{ /* icône enveloppe + formulaire */
    display: flex;
    align-items: center;
    justify-content: center;
}

i { /* icône enveloppe */
    font-size: 25px;
    padding-right: 10px;
    margin-left: 20px;
}

p{
    padding-left: 40px;
}

button{
    margin-left: 10px;
}
.pnews {
    padding-top: 0px;
    margin: 0px 10px 10px 0px;
}
/*Fin du bloc Newsletter*/

/* FOOTER FOOTER FOOTER FOOTER */

.footer{
    display: flex;
    justify-content: space-evenly;
    height: 258px;
    width: 100%;
    background-color: #C4C4C4;
    padding: 0px;
    margin: 0px;
}
.footernavlinks{
    list-style-type: none;
    margin-top: 25px;
    text-align: center;
    padding-left: 15px;
    line-height: 46px;
    border-right: 1px solid black;
    padding-right: 65px;
}
.footernavlinks a {
    text-decoration: none;
    color: black;
}
.social{
    display: inline-block;
    margin-top: 25px; 
    margin-bottom: 50px; 
    border-right: 1px solid black; 
    padding-right: 65px;
}
.socialicons li{
    list-style-type: none;
    display: inline;
    text-align: center;
}
.copyright{
    margin-left: -15px;
    margin-top: 63px;
}
.footerinfos{
    list-style-type: none;
    padding: 0px;
}
i {
    padding-right: 20px; 
    font-size: 25px;
}
.contactez {
    padding: 0px;
    line-height: 35px;
    margin-bottom: 50px; 
    margin-top: 25px;
    padding-right: 65px;
    border-right: 1px solid black; 
}
#contacteza {
    cursor: pointer;
}
#infos {
    padding-left: 15px;
}
.map {
    color: black;
    padding-right: 2px;
}

.icons{
    list-style-type: none;
}
#nonea {
    text-decoration: none;
    color: black;
}
a:hover {
    cursor: pointer;
}
